---
layout: post
title: Verification Statistics
excerpt: "Judging Forecasters"
modified: 8/17/2021
tags: [mathematics]
comments: true
category: blog
---

### A Jupyter Notebook Crash-Course

See [this notebook](jupyter/VerificationStatistics.ipynb){:target="\_blank"}

#### References and Further Reading
Coming soon!
