---
layout: post
title: Verification Statistics
excerpt: "Judging Forecasters"
modified: 8/17/2021
tags: [mathematics]
comments: true
category: blog
---

### A Jupyter Notebook Crash-Course

See [this notebook](jupyter/VerificationStatistics.ipynb){:target="\_blank"}

#### References and Further Reading
- [Encyclopedia of Math: Wallis Formula](https://encyclopediaofmath.org/index.php?title=Wallis_formula){:target="\_blank"}
- [3Blue1Brown: The Wallis product for pi, proved geometrically](https://www.3blue1brown.com/sridhars-corner/2018/4/17/wallis-product-supplement-dominated-convergence){:target="\_blank"}
